@inject AjudaHumana.Identity.Domain.Contracts.IMenuAppService _menuAppService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda Humana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
    <link href="~/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ajuda Humana</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var menu in _menuAppService.GetByCurrentRole())
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="@menu.Area" asp-controller="@menu.Controller" asp-action="@menu.Action">@menu.Text</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AjudaHumana - Ruan Pelissoli
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://kit.fontawesome.com/41728e683a.js"></script>
    <script src="~/jqwidgets/jqxcore.js"></script>
    <script src="~/jqwidgets/jqxdata.js"></script>
    <script src="~/jqwidgets/jqxmaskedinput.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".zipcode").jqxMaskedInput({ width: '100%', height: 'calc(1.5em + 0.75rem + 4px)', mask: '#####-###' });
            $(".cnpj").jqxMaskedInput({ width: '100%', height: 'calc(1.5em + 0.75rem + 4px)', mask: '##.###.###/####-##' });
            $(".cpf").jqxMaskedInput({ width: '100%', height: 'calc(1.5em + 0.75rem + 4px)', mask: '###.###.###-##' });
            $(".phone").jqxMaskedInput({ width: '100%', height: 'calc(1.5em + 0.75rem + 4px)', mask: '(##) #####-####' });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
